<h1>Listing sessions</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Current capacity</th>
      <th>Max capacity</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.date %></td>
        <td><%= session.time %></td>
        <td><%= session.current_capacity %></td>
        <td><%= session.max_capacity %></td>
        <td><%= link_to 'Reserve A Slot', controller: 'sessions', action: 'new_reservation', id: session.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>