<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @session.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @session.time %>
</p>

<p>
  <strong>Current capacity:</strong>
  <%= @session.current_capacity %>
</p>

<p>
  <strong>Max capacity:</strong>
  <%= @session.max_capacity %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
